html,body,div,ul,li,svg{
	margin:0;
	padding:0;
	list-style:none;
}

/*------------Global-------------*/
html,body{
	height: 100%;
	position: relative;
	background: white;
}

.container{
    height:100%;
}
.container .section{
	width:100%;
}
.container .canvas{
	width:100%;
	background:white;
	height:400px;
}
.container .controls{
	margin-bottom:20px;
}

/*------------font-------------*/
body{
	font-size: 16px;
}
h1{ font-size:2em;}
h2{ font-size:1.3em;}
p{
	font-family:"Droid Serif", serif;
}

/*------------svg--------------*/
.axis{
    fill:none;
    stroke:rgb(80,80,80);
    stroke-width:1px;
    stroke-dasharray:3px 3px;
}

svg text{
    font-size:9px;
}
.activity-2 path,
.activity-2 text{
    fill-opacity:.8;
}
.activity-2:hover path{
    fill-opacity:1;
}
.activity-2:hover text;{
    fill-opacity:1;
}

/*lines*/


.line {
	fill: none;
	stroke-width: 1px;
	stroke: rgb(120,120,120);
}

